* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background: blue;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  ;
  z-index: 10;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  transition: 0.5s ease, box-shadow 0.5s ease;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-list a {
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.header-list a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff6600;
  transition: width 0.3s ease;
}

.header-list a:hover {
  color: #ff6600;
}

.header-list a:hover::after {
  width: 100%;
}

/* HERO & SLIDER */
.hero,
.slider-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.slider-bg img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  opacity: 0;
  animation: fadeSlider 15s infinite ease-in-out;
  transition: transform 1.5s ease;
}

.slider-bg img:hover {
  transform: scale(1.05);
}

.slider-bg img:nth-child(1) {
  animation-delay: 0s;
}

.slider-bg img:nth-child(2) {
  animation-delay: 5s;
}

.slider-bg img:nth-child(3) {
  animation-delay: 10s;
}

@keyframes fadeSlider {

  0%,
  100% {
    opacity: 0;
  }

  10%,
  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
}

.hero-container {
  position: relative;
  z-index: 1;
  max-width: 700px;
  text-align: center;
  padding: 0 20px;
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  z-index: 1;
}

.hero-container {
  position: relative;
  z-index: 2;
  max-width: 700px;
  animation: fadeInUp 1s ease forwards;
  color: #fff;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.hero-text {
  font-size: 1.2rem;
  color: #f0f0f0;
  line-height: 1.7;
  margin-bottom: 30px;
}

.hero-btn {
  text-align: center;
  padding: 15px 40px;
  border: none;
  margin-left: px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(135deg, #ff6600, #ff3300);
  box-shadow: 0 4px 15px rgba(255, 102, 0, 0.5);
  transition: all 0.4s ease;
}

.hero-btn:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 20px rgba(255, 102, 0, 0.7);
  background: linear-gradient(135deg, #ff751a, #ff4400);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .header-list {
    gap: 15px;
  }
}

.logo-marquee {
  overflow: hidden;
  width: 100%;
  background: #c31b1bb9;
  border-radius: 30px;
  margin-top: 50px;
  padding: 20px 0;
}

.marquee-track {
  display: flex;
  gap: 50px;
  animation: marquee 20s linear infinite;
}

.marquee-img {
  width: 100%;
  height: auto;
  filter: brightness(0.9);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.marquee-item img:hover {
  transform: scale(1.2);
  filter: brightness(1);
}

/* Animatsiya */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .marquee-item img {
    width: 70px;
  }
}


.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  margin-top: 120px;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #ff6b3d;
  margin: 10px auto 0;
}

.adventure-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.adventure-item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  max-width: 550px;
}

.adventure-item img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.adventure-item:hover img {
  transform: scale(1.08);
  filter: brightness(65%);
}

.overlay {
  position: absolute;
  inset: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 70%);
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius: 15px;
}

.adventure-item:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.overlay p {
  color: #ddd;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.badge {
  background: #ff6b3d;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  align-self: flex-start;
  margin-bottom: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.author img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.author span {
  color: #fff;
  font-size: 0.9rem;
}

.date {
  color: #ccc;
  font-size: 0.8rem;
}

.recent {
  padding: 120px 0 80px;
}

.recent-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
}

.recent-item {
  flex: 1 1 30%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.recent-item img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.recent-item:hover img {
  transform: scale(1.08);
  filter: brightness(65%);
}

.overlay {
  position: absolute;
  inset: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 70%);
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius: 15px;
}

.recent-item:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 15px;
  color: #ccc;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.badge {
  background: #ff7b00;
  color: #fff;
  padding: 5px 12px;
  font-size: 13px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: fit-content;
}

@media (max-width: 1100px) {
  .recent-container {
    flex-wrap: wrap;
  }

  .recent-item {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 700px) {
  .recent-item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .overlay h2 {
    font-size: 20px;
  }

  .section-title {
    font-size: 30px;
  }
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}



.input:focus,
.input:focus-visible {
  border-color: #3898EC;
  outline: none;
}

.site-footer {
  background: radial-gradient(circle at 20% 30%, #1b1b1b, #0c0c0c 80%);
  text-align: center;
  padding: 80px 20px 60px;
  position: relative;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: color 0.4s ease;
}

.footer-title:hover {
  color: #00baff;
}

.subscribe-box {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.email-input {
  width: 340px;
  padding: 14px 18px;
  border-radius: 40px;
  background: #1e1e1e;
  border: 2px solid #2a2a2a;
  outline: none;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.email-input::placeholder {
  color: #888;
}

.email-input:focus {
  border-color: #00baff;
  box-shadow: 0 0 15px rgba(0, 186, 255, 0.3);
  background: #161616;
}

.subscribe-btn {
  padding: 14px 32px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.4s ease;
  box-shadow: 0 5px 20px rgba(0, 114, 255, 0.4);
}

.subscribe-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 198, 255, 0.6);
  background: linear-gradient(90deg, #00e6ff, #0088ff);
}

.footer {
  background-image: url(../images/IMAGE\ \(30\).svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 20px 40px;
  text-align: center;
  position: relative;
  color: #fff;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-container h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #00baff;
  letter-spacing: 1px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-container h1:hover {
  color: #00eaff;
  transform: scale(1.05);
}

.footer-container ul {
  display: flex;
  gap: 35px;
}

.footer-container ul li a {
  color: #ccc;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.footer-container ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #00baff;
  transition: width 0.3s ease;
}

.footer-container ul li a:hover {
  color: #00baff;
}

.footer-container ul li a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header-list {
    gap: 20px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-container ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-image: url(../images/IMAGE\ \(30\).svg);
  border: none;
  border-top: 1px solid #4c46ce;
  flex-wrap: wrap;
  border-radius: 30px;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #00baff;
  transition: transform 0.3s ease, color 0.3s ease;
  border: none;
  margin-right: 800px;
}

.footer-logo:hover {
  color: #00eaff;
  transform: scale(1.05);
}

.footer-nav {
  display: flex;
  gap: 35px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav .footer-item a {
  color: #ccc;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.footer-nav .footer-item a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #00baff;
  transition: width 0.3s ease;
}

.footer-nav .footer-item a:hover {
  color: #00baff;
}

.footer-nav .footer-item a:hover::after {
  width: 100%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer-nav {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}